In [1]:
lst1 = ["krsih1", "Sam", "John", "Bob"]
lst2 = ["a", "b", "c", "d"]

In [2]:
for i in lst1:
    print(i)

krsih1
Sam
John
Bob

In [11]:
output = zip(lst1, lst2)

In [9]:
output

In [6]:
list(output)

[('krsih1', 'a'), ('Sam', 'b'), ('John', 'c'), ('Bob', 'd')]

In [10]:
### zip object is an iterator

next(output)

('krsih1', 'a')

In [13]:
for i, j in output:
    print(i, j)

Sam b
John c
Bob d

In [18]:
lst1 = ["krsih1", "Sam", "John", "Bob", 4]
lst2 = ["a", "b", "c", "d"]
lst3 = [1,2,3,4]

In [19]:
output = zip(lst1, lst2, lst3)

for i, j, k in output:
    print(i, j, k)

krsih1 a 1
Sam b 2
John c 3
Bob d 4

In [2]:
list(zip())

[]

In [3]:
dict1 = {'name': 'Krish', 'lst_name': 'Naik', 'age': 30}
dict2 = {'name': 'Gaurav', 'lst_name': 'Bhattacharya', 'age': 31}

In [5]:
dictionary = zip(dict1, dict2)

In [6]:
dict1.items()

dict_items([('name', 'Krish'), ('lst_name', 'Naik'), ('age', 30)])

In [7]:
dictionary = zip(dict1.items(), dict2.items())

In [8]:
for (i, j), (i2, j2) in dictionary:
    print(i, j)
    print(i2, j2)

name Krish
name Gaurav
lst_name Naik
lst_name Bhattacharya
age 30
age 31

In [9]:
dict1

{'name': 'Krish', 'lst_name': 'Naik', 'age': 30}

In [10]:
dict2

{'name': 'Gaurav', 'lst_name': 'Bhattacharya', 'age': 31}